/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        // homerow_mods 제거됨
    };

    combos {
        compatible = "zmk,combos";
        
        // 기존 combo 그대로 유지
        a { bindings = <&kp MINUS>; key-positions = <8 7>; };
        b { bindings = <&kp UNDERSCORE>; key-positions = <8 9>; };
        c { bindings = <&kp DOUBLE_QUOTES>; key-positions = <31 32>; };
        d { bindings = <&kp SINGLE_QUOTE>; key-positions = <32 33>; };
        e { bindings = <&kp GRAVE>; key-positions = <30 31>; };
        f { bindings = <&kp COLON>; key-positions = <7 18>; };
        g { bindings = <&kp DOLLAR>; key-positions = <2 3>; };
        h { bindings = <&kp EQUAL>; key-positions = <3 4>; };
        i { bindings = <&kp ESC>; key-positions = <1 2>; };
        j { bindings = <&kp LC(S)>; key-positions = <4 17>; };
        k { bindings = <&kp LC(C)>; key-positions = <26 27>; };
        l { bindings = <&kp LC(V)>; key-positions = <27 28>; };
        m { bindings = <&kp TILDE>; key-positions = <28 29>; };
        n { bindings = <&kp BACKSLASH>; key-positions = <17 5>; };
        o { bindings = <&kp PIPE>; key-positions = <6 18>; };
        p { bindings = <&kp BACKSPACE>; key-positions = <10 9>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "0";
            bindings = <
&none &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &none
&none &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &none
&none &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &none
                       &lt 3 ESC    &lt 1 SPACE  &lt 2 TAB   &lt 5 ENTER  &lt 4 BSPC  &lt 6 DELETE
            >;
        };

        nav_layer {
            label = "1";
            bindings = <
&none &none       &none       &none       &none     &none     &none         &none         &none         &none         &none         &none
&none &kp LEFT_GUI &kp LEFT_ALT &kp LCTRL   &kp LSHFT &none     &kp CAPSLOCK  &kp LEFT      &kp DOWN_ARROW &kp UP_ARROW   &kp RIGHT_ARROW &none
&none &none       &none       &none       &none     &none     &kp INSERT    &kp HOME       &kp PAGE_DOWN  &kp PAGE_UP    &kp END         &none
                             &none        &trans     &none       &kp ENTER     &kp BACKSPACE  &kp DELETE
            >;
        };

        // 기존 mouse_layer, media_layer, number_layer, symbol_layer, fun_layer, game 그대로 유지
        // 단, symbol_layer에서 outer mods 포함

        symbol_layer {
            label = "5";
            bindings = <
&none &kp LBRACE   &kp AMPERSAND &kp ASTERISK &kp LPAREN  &kp RBRACE   &none  &none     &none     &none     &none     &none
&none &kp DQUO     &kp DOLLAR    &kp PERCENT  &kp CARET   &kp PLUS     &none  &kp LSHFT &kp LCTRL &kp LALT  &kp LGUI  &none
&none &kp TILDE    &kp EXCLAIM   &kp AT_SIGN  &kp HASH    &kp PIPE     &none  &none     &none     &none     &none     &none
                              &kp LPAREN     &kp RPAREN  &kp UNDERSCORE &trans &none     &none
            >;
        };

        // 나머지 레이어는 그대로 사용 (mouse, media, number, fun, game)
    };
};
